.body {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-weight: : Regular;
	font-family: PTSans;
}
 h2 {
	font-size: 21px;
	line-height: 24px;
	color: #000000;
	font-weight: : Bold;
	font-family: PTSans;
	text-transform: uppercase;
}
h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: : Bold;
	font-family: PTSans;
	text-transform: uppercase;
}