body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: "PTSans", "Arial", sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
.main {
	position: relative;
}
.main-container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: -15px 0 30px -20px #333, 
	15px 0 30px -20px #333;
}
.main-header {
	background: #ffffff;
}
.main-navigation li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	padding: 15px;
	margin: 0 50px;
}
.main-navigation li:nth-child(3) {
	position: relative;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-bottom: -25px;
	z-index: 100;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #000000
}
.main-navigation a:hover {
	color: #81b3d2;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-footer {
	width: 1080px;
	margin: 0 auto;
	background: #fefefe;
	padding: 30px 60px;
	border-top: 1px solid #e5e5e5
}

.footer-contacts {
	float: left;
	width: 210px;
	margin-right: 120px;
	min-height: 60px;
	margin-left: 70px;
}
.footer-contacts a {
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.footer-social {
	float: left;
	width: 280px;
	min-height: 60px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
	width: 45px;
	height: 47px;
	background-color: #81b3d2;
	position: relative;
}
.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
}
.social-btn-twit::before{
	width: 17px;
	height: 15px;
	background-position: -5px -338px;
}
.social-btn-fb::before {
	width: 10px;
	height: 19px;
	background-position: -5px -133px;
}
.social-btn-ytube:before {
	width: 20px;
	height: 16px;
	background-position: -5px -388px;
}
.social-btn:hover {
	background-color: #669ec0
}

.footer-copyright {
	float: right;
	width: 280px;
	min-height: 60px;
	margin-left: 120px;
	position: relative;
}
.footer-copyright::after {
	content: "";
	position: absolute;
	top: -20%;
	left: 35%;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
	width: 113px;
	height: 39px;
	background-position: -5px -191px;
}
.footer-copyright:hover::after {
	content: "";
	position: absolute;
	top: -20%;
	left: 35%;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
	width: 113px;
	height: 39px;
	background-position: -5px -289px;
}
.footer-copyright a {
	text-decoration: none;
	color: #000000;
}

/*inner*/
.common-filter h2{
	font-size: 16px;
	line-height: 1.3;
	color: #ffffff;
	font-weight: bold;
}
.price h2 {
	font-size: 16px;
	line-height: 1.3;
	color: #ffffff;
	font-weight: bold;
}
.hotel-character h2 { 
	font-size: 21px;
	line-height: 1.2;
	font-weight: bold;
	margin: 0px;
}
.hotel-character a {
	text-decoration: none;
	color: #000000
}
.hotel-character a:hover {
	color: #89b8d5;
}
.main-condition {
	min-height: 220px;
	background: #f2f2f2 url("../img/inner-filter.jpg") no-repeat;
	clear: both;
}
.infrastructure {
	float: left;
	width: 200px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 60px;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label.choice {
	display: block;
	padding: 10px 0;
	padding-left: 40px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	position: relative;
	cursor: pointer;
}
input[type="checkbox"] + label.choice::before {
	content: "";
	position: absolute;
	top: -3;
	left: 0;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	background-position: -5px -5px;
}
input[type="checkbox"]:checked + label.choice::before {
	content: "";
	position: absolute;
	top: -3;
	left: 0;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
	width: 26px;
	height: 22px;
	background-position: -5px -37px;
}
.common-filter .accomodation {
	float: left;
	width: 200px;
	padding: 10px 30px;
}
.price {
	float: right;
	width: 350px;
	padding: 30px 60px;
}
.filter {
	background: #fefefe;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.find {
	float: left;
	min-height: 30px;
	width: 140px;
	padding-top: 30px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-left: 60px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.sort {
	float: left;
	width: 580px;
	padding: 15px;
	margin: 20px 0 0 0;
}
ul.filter-sort {
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
} 
.filter-sort li {
	display: inline-block;
	line-height: 18px;
	vertical-align: bottom;
	padding: 0px;
	margin-right: 30px;
}
.filter-sort li:first-child {
	margin-left: 30px;
}
.filter-sort a {
	text-decoration: none;
	color: #b1b1b1;
	border-bottom: 1px dashed #81b3d2;
}
.filter-sort a.active {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: 0px;
}
.filter-sort a:hover {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: 1px dashed #81b3d2;
}
.direction-filter {
	float: right;
	width: 60px;
	padding-top: 30px;
	position: relative;
}
.direction-filter.down {
	margin-right: 20px;
}
a.direction-filter {
	font-size: 0px;
}
.direction-filter.up::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0px;
	padding: 0px;
	border: 6px solid transparent;
	border-bottom: 10px solid #cccccc;
}
.direction-filter.down::after {
	content: "";
	position: absolute;
	bottom: 0px;
	border: 6px solid transparent;
	border-top: 10px solid #cccccc;
}
.direction-filter.active::after { /*не работает. не пойму как сделать активную сортировку*/
	border-top: 10px solid #81b3d2;
}
.rating.number {
	float: right;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	color: #666666;
	margin-top: 70px;
}
.hotels-list {
	min-height: 450px;
	background: #fefefe;
}
.hotel {
	width: 1080px;
	padding: 30px 60px;
}
.hotel img {
	float: left;
	margin-right: 20px;
}
.hotel-character {
	float: left;
	width: 370px;
}
.hotel {
	border-top: 1px solid #e5e5e5
}
.hotel-character span {
	display: inline-block;
	padding-top: 10px;
	padding-right: 35px;
}
.btn {
	margin-top: 10px;
}
.hotel-character a.about {
	display: inline-block;
	height: 26px;
	width: 110px;
	border: 1px solid #81b3d2;
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
}
.hotel-character a.booking {
	display: inline-block;
	height: 26px;
	width: 142px;
	border: 1px solid #766357;
	background-color: #766357;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
}


/*index*/
h2.offer-title {
	font-size: 21px;
	line-height: 1.1;
	font-weight: bold;
	text-align: center;
	padding-top: 60px;
	margin: 0;
}
.offer-name {
	color: #696969;
	text-align: center;
	margin-bottom: 50px;
}
h1.logo-title {
	font-size: 21px;
	line-height: 1.2;
	font-weight: bold;
}
.logo-title {
	position: absolute;
	display: inline-block;
	bottom: 105px;
	width: 600px;
	left: 25%;
	text-align: center;
}
.features-title {
	position: absolute;
	display: inline-block;
	bottom: 50px;
	left: 25%;
	text-align: center;
}
p.features {
	margin: 20px 0;
}
.features-items {
	background-color: #81b3d2;
	min-height: 256px;
	padding-top: 0.1px;
	margin: 0;
}
.features-items p {
	text-align: center;
	color: #ffffff;
}
.features-items.right img {
	float: right;
	width: 800px;
}
.feature {
	color: #696969;
}
.features-items .features-name {
	font-weight: bold;
	margin-top: 50px;
}
.features-logo {
	float: left;
	width: 280px;
	min-height: 240px;
	padding: 40px 60px;
	text-align: center;
	margin: 0;
}
.features-logo-name {
	display: block;
	padding-top: 95px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 21px;	
	font-weight: bold;
	position: relative;
}
.accomodation .features-logo-name:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/logo-accomodation.png");
	width: 75px;
	height: 72px;
	left: 37%;
	bottom: 30%;
	padding: 0;
}
.food .features-logo-name:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/logo-eat.png");
	width: 74px;
	height: 70px;
	left: 37%;
	bottom: 30%;
	padding: 0;
}
.souvenirs .features-logo-name:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/logo-suvenire.png");
	width: 64px;
	height: 76px;
	left: 37%;
	bottom: 30%;
	padding: 0;
}
.features-items-small .features-name {
	margin: 0;
	display: block;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 21px;	
	font-weight: bold;
}
.features-items.left img {
	float: left;
	width: 800px;
}
.features-items-small {
	float: left;
	text-align: center;
	width: 280px;
	min-height: 175px;
	padding: 40px 60px;
	background-color: #eeeeee;
}
p.feature {
	margin: 20px 0;
}
.offer {
	background-color: #ffffff;
	margin: 0 auto;
	position: relative;
}
label.search {
	display: block;
	width: 565px;
	margin: 0 auto;
	text-align: center;
	padding: 33px 0;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
#search-hotel:checked ~ label.search[for="search-hotel"] { 
	background: #766357;
}
.offer-form {
	width: 565px;
	/*height: 395px;*/
	margin: 0 auto;
	display: none;
	z-index: 100;
	position: absolute;
	padding-top: 20px;
}
#search-hotel:checked ~ .offer-form {
	display: block;
	background-color: #ffffff;
	left: 50%;
	transform: translate(-50%);
}
input.offer {
	display: none;
}
.map {
	position: relative;
}
label.date {
	display: block;
	width: 465px;
	margin: 0 auto;
	padding-top: 30px;
	font-weight: bold;
	line-height: 26px;
}
label.adult {
	display: block;
	float: left;
	width: 240px;
	padding-right: 30px;
	font-weight: bold;
	line-height: 26px;
}
label.children {
	display: block;
	float: left;
	width: 190px;
	font-weight: bold;
	line-height: 26px;
}
.group {
	width: 465px;
	margin: 0 auto;
	padding-top: 30px;
}

button.submit {
	display: block;
	margin: 55px auto;
	padding: 20px 195px;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 26px;
	border-radius: 0px;
	background-color: #81b3d2;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
input.date {
	width: 330px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	margin-left: 15px;
	font-size: 
}
.adult input {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	padding: 0px;
}
.children input {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	padding: 0px;
}
button.minus, button.plus {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #a9a9a9;
}
.adult button.minus {
	margin-left: 30px;
}
.children button.minus {
	margin-left: 25px;
}




/*sprite*/

.sprite {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
}

.sprite-checkbox {
	width: 22px;
	height: 22px;
	background-position: -5px -5px;
}

.sprite-checkbox-checked {
	width: 26px;
	height: 22px;
	background-position: -5px -37px;
}

.sprite-checkbox-checked-disabled {
	width: 26px;
	height: 22px;
	background-position: -5px -69px;
}

.sprite-checkbox-disabled {
	width: 22px;
	height: 22px;
	background-position: -5px -101px;
}

.sprite-f {
	width: 10px;
	height: 19px;
	background-position: -5px -133px;
}

.sprite-f-down {
	width: 10px;
	height: 19px;
	background-position: -5px -162px;
}

.sprite-ha {
	width: 113px;
	height: 39px;
	background-position: -5px -191px;
}

.sprite-ha-down {
	width: 113px;
	height: 39px;
	background-position: -5px -240px;
}

.sprite-ha-hover {
	width: 113px;
	height: 39px;
	background-position: -5px -289px;
}

.sprite-t {
	width: 17px;
	height: 15px;
	background-position: -5px -338px;
}

.sprite-t-down {
	width: 17px;
	height: 15px;
	background-position: -5px -363px;
}

.sprite-ytube {
	width: 20px;
	height: 16px;
	background-position: -5px -388px;
}

.sprite-ytube-down {
	width: 20px;
	height: 16px;
	background-position: -5px -414px;
}
